body {
  background-image: linear-gradient(to bottom, #40B3A2, #1E5285);
  color: #fff;
  font-family: Jost, sans-serif;
  text-align: center;
}


.header {
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.title {
  font-size: 72px; 
  margin: 50px auto 0;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  max-width: 90%;
  text-align: center;
}

#SeaLevelLineChart,
#TemperatureLineChart,
#PrecipitationLineChart,
#CO2EmissionLineChart,
#CO2ChoroplethPlot,
#PrecipitationChoroplethPlot,
#TemperatureChoroplethPlot {
  margin: 50px auto;
  max-width: 800px;
}

@media screen and (max-width: 768px) {
  #SeaLevelLineChart,
  #TemperatureLineChart,
  #PrecipitationLineChart,
  #CO2EmissionLineChart,
  #CO2ChoroplethPlot,
  #PrecipitationChoroplethPlot,
  #TemperatureChoroplethPlot {
    max-width: 100%;
  }
}

  
  /* Update for small screens */
  .tab {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tablinks {
    margin-bottom: 10px;
  }

.chart {
  border-radius: 10px;
  padding: 20px;
}

/* Add new styles for tabs */
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0 0 10px 10px;
  flex-direction: row; 
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 18px;
  margin: 0 10px;
  color: #fff;
}

.tab button:hover {
  background-color: #40B3A2;
}

.tab button.active {
  background-color: #DC6641;
}

.footer {
  color: #fff;
  font-size: 14px;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  flex-direction: column;
}


.created-by {
  margin-right: 10px;
}

.author-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.author-list li {
  margin-right: 10px;
}
