body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Jost, sans-serif;
    text-align: center;
  }
  
  .header {
    background-color: #212121;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
  }
  
  .title {
    font-size: 36px;
    margin-top: 50px;
  }
  
  #seaLevelPlot, #temperaturePlot, #PrecipitationPlot, #CO2EmissionPlot {
    margin: 50px auto;
    max-width: 800px;
  }
  
  @media screen and (max-width: 768px) {
    #seaLevelPlot, #temperaturePlot, #PrecipitationPlot, #CO2EmissionPlot {
      max-width: 100%;
    }
  }
  
  .chart {
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
  }
  .footer {
    background-color: #212121;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    flex-direction: column;
  }
  
  .footer img {
    margin-top: auto;
    margin-bottom: 10px;
  }
  
  .created-by {
    margin-right: 10px;
  }
  
  .author-list {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .author-list li {
    margin-right: 10px;
  }
  
  